name: Compile LaTeX projects

on:
  push:
    paths:
      - "Tareas/T1/**"
      - "Tareas/T2/**"
      - "Tareas/T3/**"
      - "Tareas/T4/**"
      - "Tareas/T5/**"
      - "Tareas/T6/**"
      - "Tareas/P14/**"
      - "Examenes/E1"
      - "Tareas/P19/**"
      - "Tareas/P20/**"
      - "Tareas/NoTarea"
  workflow_dispatch:

jobs:
  build-tarea-1:
    uses: MarcosLopezM/latex-workflow/.github/workflows/build-pdf.yml@main
    with:
      relative_path: Tareas/T1
      out_name: "Tarea1"
      email_to: "marcoslm@ciencias.unam.mx"
    secrets: inherit

  build-tarea-2:
    uses: MarcosLopezM/latex-workflow/.github/workflows/build-pdf.yml@main
    with:
      relative_path: Tareas/T2
      out_name: "Tarea2"
      # send_it: true
      email_to: "marcoslm@ciencias.unam.mx"
    secrets: inherit

  build-tarea-3:
    uses: MarcosLopezM/latex-workflow/.github/workflows/build-pdf.yml@main
    with:
      relative_path: Tareas/T3
      tex_name: main
      out_name: "Tarea3"
      # send_it: true
      email_to: "marcoslm@ciencias.unam.mx"
    secrets: inherit

  build-tarea-4:
    uses: MarcosLopezM/latex-workflow/.github/workflows/build-pdf.yml@main
    with:
      relative_path: Tareas/T4
      tex_name: main
      out_name: "Tarea4"
      # send_it: true
      email_to: "marcoslm@ciencias.unam.mx"
    secrets: inherit

  build-tarea-5:
    uses: MarcosLopezM/latex-workflow/.github/workflows/build-pdf.yml@main
    with:
      relative_path: Tareas/T5
      tex_name: main
      out_name: "Tarea5"
      # send_it: true
      email_to: "marcoslm@ciencias.unam.mx"
    secrets: inherit

  build-tarea-6:
    uses: MarcosLopezM/latex-workflow/.github/workflows/build-pdf.yml@main
    with:
      relative_path: Tareas/T6
      tex_name: main
      out_name: "Tarea6"
      # send_it: true
      email_to: "marcoslm@ciencias.unam.mx"
    secrets: inherit

  build-problema-14:
    uses: MarcosLopezM/latex-workflow/.github/workflows/build-pdf.yml@main
    with:
      relative_path: Tareas/P14
      tex_name: main
      out_name: "Problema14"
      # send_it: true
      email_to: "marcoslm@ciencias.unam.mx"
    secrets: inherit

  build-examen-1:
    uses: MarcosLopezM/latex-workflow/.github/workflows/build-pdf.yml@main
    with:
      relative_path: Examenes/E1
      tex_name: main
      out_name: "ExamenParcial1"
      # send_it: true
      email_to: "marcoslm@ciencias.unam.mx"
    secrets: inherit

  build-examen-2:
    uses: MarcosLopezM/latex-workflow/.github/workflows/build-pdf.yml@main
    with:
      relative_path: Examenes/E2
      tex_name: main
      out_name: "ExamenParcial2"
      # send_it: true
      email_to: "marcoslm@ciencias.unam.mx"
    secrets: inherit

  build-problema-19:
    uses: MarcosLopezM/latex-workflow/.github/workflows/build-pdf.yml@main
    with:
      relative_path: Tareas/P19
      tex_name: main
      out_name: "Problema19"
      # send_it: true
      email_to: "marcoslm@ciencias.unam.mx"
    secrets: inherit

  build-problema-20:
    uses: MarcosLopezM/latex-workflow/.github/workflows/build-pdf.yml@main
    with:
      relative_path: Tareas/P20
      tex_name: main
      out_name: "P20"
      # send_it: true
      email_to: "marcoslm@ciencias.unam.mx"
    secrets: inherit

  build-no-tarea:
    uses: MarcosLopezM/latex-workflow/.github/workflows/build-pdf.yml@main
    with:
      relative_path: Tareas/NoTarea
      tex_name: main
      out_name: "SiTarea3"
      # send_it: true
      email_to: "marcoslm@ciencias.unam.mx"
    secrets: inherit
